body{
    background-color:coral;
    font-family: Arial, Helvetica, sans-serif;
}
#clock{
    display: block;
    width: 380px;
    font-size: 50px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;

}